* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

header {
 background-color: #222;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #444;
}

section {
  background: #fafafa;
  padding: 15px;
  margin: 20px 0;
  border-radius: 6px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1, h2 {
  margin: 0;
}

footer {
  text-align: center;
  padding: 20px;
  color: #555;
}
